<h2>What we're about</h2>
<p>
Hello! We're here to bring Rust to Wroclaw and make it easier to all the Rustaceans here to create a vibrant community.
</p>

<p>
We are going to share knowledge and experience in Rust programming.
</p>

<p>
Rustaceans of all skill levels are welcome: we are more than happy to help those starting their journey with Rust. Join us. Come to the meeting. Talk to other Rustaceans and... Let’s Rust!</p>


<hr />

<h2>Join us</h2>
<ul>
  <li><a href='https://join.slack.com/t/rust-wroclaw/shared_invite/enQtNTQ2NjEwOTA3OTIwLTQwMjRmM2VlMWU1OGZhZjcwYjA3ZWNiNTU2MDg3MjEzYmFjNGQ5NzNjNmYwN2EwZTAyZDY4MDczNDVhMDkxNTI' target='_blank'>Slack</a></li>
  <!--
  <li><a href='https://t.me/joinchat/IDKE-Es4BYn7dlLCOVlD4Q' target='_blank'>Telegram</a></li>
  -->
</ul>

<h2>Follow us</h2>
<ul>
  <li><a href='https://www.meetup.com/Rust-Wroclaw' target='_blank'>Meetup</a></li>
  <li><a href='https://twitter.com/RustWroclaw' target='_blank'>Twitter</a></li>
  <li><a href='https://github.com/Rust-Wroclaw' target='_blank'>Github</a></li>
  <li><a href='https://www.facebook.com/groups/817872505079892/' target='_blank'>Facebook</a></li>
</ul>
