<h2>Join us</h2>
<ul>
  <li><a href='https://join.slack.com/t/rust-wroclaw/shared_invite/enQtNTQ2NjEwOTA3OTIwLTQwMjRmM2VlMWU1OGZhZjcwYjA3ZWNiNTU2MDg3MjEzYmFjNGQ5NzNjNmYwN2EwZTAyZDY4MDczNDVhMDkxNTI' target='_blank'>Slack</a></li>
</ul>

<hr />
<h2>Follow us</h2>
<ul>
  <li><a href='https://www.meetup.com/Rust-Wroclaw' target='_blank'>Meetup</a></li>
  <li><a href='https://twitter.com/RustWroclaw' target='_blank'>Twitter</a></li>
  <li><a href='https://github.com/Rust-Wroclaw' target='_blank'>Github</a></li>
  <li><a href='https://www.facebook.com/rustwroclaw/' target='_blank'>Facebook</a></li>
</ul>

<hr />
<h2>Upcoming Event</h2>
<h3>To be announced...</h3>

<hr />
<h2>Past Events</h2>
<h3>June 6, 2019</h3>
<ul>
  <li>Błażej Święcicki | Makra w ruście – po co, jak i dlaczego?</li>
  <li>Michał Chodzikiewicz | How fast can we blink?</li>
  <li><a href='https://github.com/Rust-Wroclaw/rust-wroclaw/blob/master/talk-archive/06-2019-rpg-notes.pdf' target='_blank'>Wojciech Polak | System for worldbuilding and sharing notes from roleplay session</a></li>
</ul>
<h3>June 6, 2019</h3>
<ul>
  <li><a href='https://github.com/Rust-Wroclaw/rust-wroclaw/blob/master/talk-archive/05-2019-docker-cmd.pdf' target='_blank'>Piotr Bielak | docker-cmd - a guide to your first Rust project</a></li>
  <li>Wojciech Brożek | State of Rust GUI</li>
</ul>
<h3>April 4, 2019</h3>
<ul>
  <li>Bartłomiej Kuras, Maciej Talaśka, Wojciech Polak | Rust Developer Toolbox</li>
</ul>
<h3>February 28, 2019</h3>
<ul>
  <li>Wojciech Polak | Implement your own language with Rust in 1 hour</li>
</ul>
<h3>January 30, 2019</h3>
<ul>
  <li>Bartek Kuras | Objective design meets Rust</li>
</ul>
<h3>November 21, 2018</h3>
<ul>
  <li>Jakub Jagusztyn | A tour of cargo</li>
  <li>Wojciech Polak | Parser combinators and how to use Impl Trait to implement them</li>
</ul>
<h3>October 25, 2018</h3>
<ul>
  <li>Tomasz Barański | No matter how far I go, I always go back to native</li>
  <li><a href='https://github.com/Rust-Wroclaw/rust-wroclaw/blob/master/talk-archive/10-2018-rewrite-them-all.pdf' target='_blank'>Grzegorz Wilczyński | Rewrite them all</a></li>
</ul>
<h3>September 26, 2018</h3>
<ul>
  <li>Mateusz Kubaszek | Mathematical Model in Rust - first step to make Rust more useful for science</li>
  <li>Maciej Talaśka | Why Rust?</li>
</ul>
<h3>July 25, 2018</h3>
<ul>
  <li>Tomasz Drwięga | How to build JSON-RPC API in Rust</li>
</ul>
<h3>June 20, 2018</h3>
<ul>
  <li>Sambath Kumar Logakrishnan | Rust for JS Dev - Reducing cpu cycle wasted on js engine optimization and future of web development</li>
  <li>Magdalena Gryczka | When the Rocket gets Rusty</li>
</ul>
